body {
    background-color: rgb(233, 233, 233);
}

.font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    border: 2px solid #006561;
    margin: 100px auto;
    max-width: 1000px;
    border-radius: 20px;
    padding: 0px 30px 30px;
}

.main_container-header {
    background-color: #009B95;
    height: 80px;
    border-top-right-radius: 17.5px;
    border-top-left-radius: 17.5px;
    border-bottom: 2px solid #006561;
    display: flex;
    align-items: end;
    padding: 10px;
    margin: 0px -30px;
}

.main_container-header-text {
    font-size: 17px;
    color: #003533;
    margin-bottom: 10px;
    margin-left: 20px;
}

.input_field-heading {
    color: #003533;
    margin-bottom: 15px;
    font-size: 14px;
}

.input_field-textarea {
    box-sizing: border-box;
    border-radius: 15px;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    border-color: #006561;
    border-width: 2px;
    padding: 10px;
    resize: vertical;
}

.settings_container {
    box-sizing: border-box;
    display: flex;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    background-color: #009b968c;
    gap: 30px;
}

.choosing_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.choosing-select {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #006561;
    padding-left: 15px;
}

.choosing_shift-input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #006561;
    padding-left: 15px;
}

.choosing-heading {
    color: #003533;
    font-size: 14px;
}

.buttons_container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.buttons {
    padding: 15px;
    border-radius: 20px;
    border: 2px solid #006561;
    background-color: #009b968c;
    color: #003533;
    cursor: pointer;
}

.result_container-heading {
    color: #003533;
    margin-bottom: 15px;
    font-size: 14px;
}

.result_container-output {
    word-break: break-all;
    border: 2px solid #006561;
    width: auto;
    padding: 15px;
    margin-top: 10px;
    border-radius: 15px;
}